.el-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.el-content {
  background: rgb(90, 90, 90);
  padding: 20px;
  border-radius: 5px;
  width: 50vw;
  max-width: 100%;
}

.el-actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.el-actions button {
  margin-left: 10px;
}
